

<h1>{{title}}</h1>
<p>{{body}}</p>
<h6>{{createdAt}}|{{Username}}</h6>
<hr>
<p>{{commentBody}}</p>
<form>
<button type="button" id="comment">comment</button>
<input type="text" id="commentInput" name="post-id" value="{{id}}">
</form>


<script src="/js/comment.js"></script>