

<div>
    <h1>{{title}}</h1>
    <p>{{body}}</p>
    <h6>{{createdAt}}|{{Username}}</h6>
    <hr>
    <p>{{commentBody}}</p>

</div>
    <form>
        <input type="hidden" name="blog-id" value="{{id}}" />
        <input id="commentInput" />
        <button type="submit" id="comment">comment</button>
    </form>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
